<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/templates/template.xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">Password Checking Unibas</ui:define>

    <ui:define name="body">

        <div class="ui-g">
            <f:metadata>
                <f:event type="preRenderView" listener="#{azioneCreaSessione.initUser(request.getSession(null))}"/>
            </f:metadata>


            <div class="ui-g-4"></div>
            <div class="ui-g-4">

                <p:growl id="growl" showDetail="true" sticky="true"/> 
                <!--Inizio vista -->
                <f:view>

                    <h:panelGrid columns="1">

                        <p:outputLabel value="Inserisci i vincoli delle password" style="font-size: 18px; font-weight: bold; margin-left: 4em;"/>

                        <h:form styleClass="form" id="formVincoli">

                            <h:panelGrid columns="4" style="margin-bottom:10px" cellpadding="2">

                                <p:outputLabel for="check-utente" value="Username"/>
                                <p:selectBooleanCheckbox id="check-utente" value="#{vistaVincoli.username}"/>
                                <p:separator styleClass="separetor"/>
                                <p:separator styleClass="separetor"/>

                                <p:outputLabel for="check-lunghezzaPass" value="Lunghezza password"/>
                                <p:selectBooleanCheckbox id="check-lunghezzaPass" value="#{vistaVincoli.lunghezzaBoolean}">
                                    <p:ajax event="change" update="lung"/> 
                                </p:selectBooleanCheckbox>
                                <p:inputText id="lung"
                                             placeholder="Es: 1"
                                             value="#{vistaVincoli.lunghezzaInt}"
                                             styleClass="input"
                                             disabled="#{not vistaVincoli.lunghezzaBoolean}">
                                </p:inputText>

                                <p:separator styleClass="separetor"/>

                                <p:outputLabel for="check-maiuscole" value="Numero caratteri maiuscoli"/>
                                <p:selectBooleanCheckbox id="check-maiuscole" value="#{vistaVincoli.caratteriMaiuscoliBoolean}">
                                    <p:ajax event="change" update="upper"/> 
                                </p:selectBooleanCheckbox>
                                <p:inputText id="upper" 
                                             placeholder="Es: 1"
                                             value="#{vistaVincoli.caratteriMaiuscoliInt}"
                                             styleClass="input"
                                             disabled="#{not vistaVincoli.caratteriMaiuscoliBoolean}">
                                </p:inputText>
                                <p:separator styleClass="separetor"/>

                                <p:outputLabel for="check-minuscole" value="Numero caratteri minuscoli"/>
                                <p:selectBooleanCheckbox id="check-minuscole" value="#{vistaVincoli.caratteriMinuscoliBoolean}">
                                    <p:ajax event="change" update="low"/> 
                                </p:selectBooleanCheckbox>
                                <p:inputText id="low"
                                             placeholder="Es: 1"
                                             value="#{vistaVincoli.caratteriMinuscoliInt}"
                                             styleClass="input"
                                             disabled="#{not vistaVincoli.caratteriMinuscoliBoolean}">
                                </p:inputText>
                                <p:separator styleClass="separetor"/>

                                <p:outputLabel for="check-numeri" value="Contiene numeri"/>
                                <p:selectBooleanCheckbox id="check-numeri" value="#{vistaVincoli.caratteriNumericiBoolean}">
                                    <p:ajax event="change" update="num"/> 
                                </p:selectBooleanCheckbox>
                                <p:inputText id="num"
                                             placeholder="Es: 1"
                                             value="#{vistaVincoli.caratteriNumericiInt}"
                                             styleClass="input"
                                             disabled="#{not vistaVincoli.caratteriNumericiBoolean}">
                                </p:inputText>
                                <p:separator styleClass="separetor"/>

                                <p:outputLabel for="check-char" value="Caratteri Speciali"/>
                                <p:selectBooleanCheckbox id="check-char" value="#{vistaVincoli.caratteriSpecialiBoolean}">
                                    <p:ajax event="change" update="spe"/> 
                                </p:selectBooleanCheckbox>
                                <p:inputText id="spe"
                                             placeholder="Es: 1"
                                             value="#{vistaVincoli.caratteriSpecialiInt}"
                                             styleClass="input"
                                             disabled="#{not vistaVincoli.caratteriSpecialiBoolean}">
                                </p:inputText>
                                <p:separator styleClass="separetor"/>

                                <p:commandButton styleClass="button" value="Aggiungi" action="#{azioneAggiungiVincoli.controllaEdInoltra()}" update="growl">
                                    <p:confirm header="Confirmation" message="Sicuro di voler confermare?" icon="pi pi-exclamation-triangle" />
                                </p:commandButton>
                                <p:separator styleClass="separetor"/>

                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                                </p:confirmDialog>  

                            </h:panelGrid>
                        </h:form>

                    </h:panelGrid>
                    <!--Fine vista -->

                </f:view>


            </div>
            <div class="ui-g-4"></div>

        </div>

    </ui:define>
</ui:composition>
