<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/templates/template.xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">Password Checking Unibas</ui:define>

    <ui:define name="body">
        
        <!--Inizio vista -->
        <f:view>

            <div class="ui-g">
                <f:metadata>
                    
                </f:metadata>

                <div class="ui-g-1"></div>
                <div class="ui-g-3">
                    <p:panelGrid columns="3">
                        <p:dataList styleClass="list-style" value="#{vistaLogin.getVincoli()}" var="vincolo" type="ordered">
                            <f:facet name="header">
                                Vincoli
                            </f:facet>
                            #{vincolo.toString()}
                        </p:dataList>
                    </p:panelGrid>
                </div>
                <div class="ui-g-4">

                    <p:growl id="growl-login" showDetail="true" sticky="true" /> 

                    <h:panelGrid columns="1">

                        <p:outputLabel value="Inserisci Le credenziali" style="font-size: 18px; font-weight: bold; margin-left: 4em;"/>

                        <h:form styleClass="form" id="formVincoli">

                            <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">

                                <p:outputLabel for="labelUser" value="Username"/>
                                <p:inputText id="labelUser" styleClass="input-login" value="#{vistaLogin.username}"/>

                                <p:outputLabel for="labelPass" value="Password"/>
                                <p:password id="labelPass" styleClass="input-login" value="#{vistaLogin.password}"/>

                            </h:panelGrid>
                            <p:commandButton styleClass="button-login"  value="Verifica" action="#{azioneConvalidaPassword.eseguiControllo()}"
                                             update=":growl-login"/>
                        </h:form>

                    </h:panelGrid>


                </div>
                <div class="ui-g-3"></div>
                <!--
                    <p:progressBar id="progressbar" widgetVar="5" style="width:300px"/>
                -->
                <div class="ui-g-1"></div>
            </div>
            
            <!--Fine vista -->
        </f:view>
    </ui:define>
</ui:composition>


<!-- TODO Inserire la progress bar e visualizzare gli errori -->