<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xml:lang="it" lang="it"
      xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:pm="http://primefaces.org/mobile">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />        
        <meta name="robots" content="noindex"/>
        <link rel="shortcut icon" href="#{request.contextPath}/icons/metaIcon.png"/>
        <title><ui:insert name="title"></ui:insert></title>
        <link rel="stylesheet" href="#{request.contextPath}/css/stile.css" type="text/css" />
        <link rel="stylesheet" href="#{request.contextPath}/css/materialize.css" type="text/css" />
        <link rel="stylesheet" href="#{request.contextPath}/css/personal.css" type="text/css" />
        <link rel="stylesheet" href="#{request.contextPath}/css/growl.css" type="text/css" />
        <link rel="stylesheet" href="#{request.contextPath}/css/footer.css" type="text/css" />
    </h:head>

    <h:body>

        <div class="generale">
            <div class="barramenu">
                <h:form>
                    <p:menubar>

                        <p:menuitem value="Home" outcome="schermoVincoli" />
                        <p:menuitem value="Version JSP" url="https://jsp-password-checking-unibas.herokuapp.com" />
                        <p:menuitem value="Info" url="#" />

                    </p:menubar>
                </h:form>
            </div>
        </div>
        <div class="content">
            <ui:insert name="body"></ui:insert>            
        </div>
        <div class="footer">
            <div class="colum-footer">
                <ul>
                    <li class="titlesFooter">Siti sviluppato per il corso di <br/> Programmazione Client Server Dell'anno accademico 2018/2019</li>
                    <li>
                        <a href="http://www.informatica.unibas.it/informatica"> Universit&agrave; della Basilicata</a>
                        <p class="secondary-information"> Via dell'ateneo lucano </p>
                    </li>
                </ul>
            </div>
            
            <div class="colum-footer">
                <p>Unibas - CdL Ingegneria Informatica - Progetto sviluppato con JSF 2.3 + PrimeFaces 6.0</p>
                <p>Autore Vincenzo Palazzo</p>
                <img style="width: 25em; height: 5em;" src="#{request.contextPath}/icons/primefaces-logo.png"></img>
            </div>

            <div class="colum-footer">
                <ul>
                    <li class="titlesFooter">Riferimenti corso</li>
                    <li><a href="https://informatica.unibas.it/moodle/course/view.php?id=400">Sito del corso</a></li>
                    <li><a href="https://bitbucket.org/clientserverproject/jsp-passwordchecking/src">Sito del progetto</a></li>
                    <!--  informazioni sul progetto magari in un Dialog aria
                    <li><a href="https://bitbucket.org/clientserverproject/passwordcheckingjspformbean/src/master/">Info del progetto</a></li>
                    -->
                </ul>
            </div>
        </div>
    </h:body>
</html>