/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 3, 2019, 9:52:00 PM
    Author     : Vincenzo Palazzo 
*/

.ui-growl-item-container{
    padding: 6px;
    border: solid rgb(6, 116, 239);
    border-radius: 4px;
    background: rgb(39, 128, 227) !important;
    color: white !important;
    font-weight: bold !important;
}


