/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 3, 2019, 8:49:18 PM
    Author     : Vincenzo Palazzo 
*/

.separetor{
    background-color: rgb(39, 128, 227);
    border-color: rgb(39, 128, 227);
}

#panelSpecial{
    background-color: rgb(39, 128, 227) !important;
    padding: 0 !important;
    margin: 0 !important;
}


/*Menu bar*/
.ui-menuitem,
.ui-menu-list {
    background: rgb(39, 128, 227) !important;
    color: white !important;
    font-weight: bold !important;
}

.ui-menubar{
    background: rgb(39, 128, 227) !important;
    color: white !important;
    font-weight: bold !important;
    width: 100%
}

.ui-menuitem-text{
    color: white !important;
    font-weight: bold !important;
}